@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url(./webfonts/Poppins-Regular.ttf);
  }
  
  body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif
  }
}